body {
	background-image: url('mood.gif');
	background-size: cover;

	height:  75vh;
	padding:  15px;
	margin: 50;
}

a:link {
	font-family: Helvetica, sans-serif;
	color: red;
}

a:visited {
	text-decoration: none;
	color: red;
}

a:active {
	text-decoration: none;
	color:  red;
}

a:hover {
	color: white;
}

body {
	color:  red;
	font-family: Helvetica, bold, sans-serif;
}