body {
	background-color: black;
	font-family: Helvetica,sans-serif;
	font-style: black;
	text-align: center;
	color: white;
}

p{
		padding-top: 35px;
}

select{
	font-size: 15px;
	font-family: 'Helvetica', sans-serif;
	color: white;
	border: 1px solid white;
	background-color: rgb(105,159,207);

  
}

#truman{
	padding-top: 40px;
	width: 550px;
	height: auto;
	margin: auto;

	display: block;
}

#pic1{
	display: none;
	padding-top: 30px;
	width: 600px;
	height: auto;
	margin: auto;
}

#pic2{
	display: none;
	padding-top: 30px;
	width: 550px;
	height: auto;
	margin: auto;
}

#pic3{
	display: none;
	padding-top: 30px;
	width: 550px;
	height: auto;
	margin: auto;
}

#pic4{
	display: none;
	padding-top: 30px;
	width: 550px;
	height: auto;
	margin: auto;
}

#pic5{
	display: none;
	padding-top: 30px;
	width: 550px;
	height: auto;
	margin: auto;
}

#pic6{
	display: none;
	padding-top: 30px;
	width: 550px;
	height: auto;
	margin: auto;
}

#book{
	padding-top: 80px;
	width: 550px;
	height: auto;
	margin: auto;

	display: none;
}



#radio{
	padding-top: 40px;
	width: 550px;
	height: auto;
	margin: auto;

	display: none;
}

#tv{
	padding-top: 50px;
	width: 550px;
	height: auto;
	margin: auto;

	display: none;
}

#phone{
	padding-top: 50px;
	width: 550px;
	height: auto;
	margin: auto;

	display: none;
}

#laptop{
	padding-top: 30px;
	width: 500px;
	height: auto;
	margin: auto;

	display: none;
}
