
body {
	color:  red;
	font-family: Akzidenz Grotesk, sans-serif;
	height:  75vh;
	padding: 15px;
	margin:  50;
}

a:link {
	font-family:  Helvetica, sans-serif;
	color:  red;
}

a:visited {
	text-decoration: none;
	color: red;
}

a:hover {
	color: white;
}

.title{
	font-style: bold;
}
.parent{
	position: relative;
	top:  0;
	left:  0;
}


.base{
	position:  relative;
	top: 0;
	left: 0;
	border:  1px solid #00000;
	width: 95%;
	height:  auto;

}

.reneSaint {
	position:  absolute;
	top: 20px;
	left: 70px;
	border:  1px solid #00000;
	width: 20%;
	height:  auto;
}

.falsemirror {
	
	position:  absolute;
	top: 215px;
	left: 90px;
	border:  1px solid #00000;
	width: 10%;
	height:  auto;

}

.grandrene {
	position:  relative;
	top: 20px;
	left: 90px;
	border:  1px solid #00000;
	width: 50%;
	height:  auto;
	text-align: center;
}

.adameve{
	position:  relative;
	top: 60px;
	left: 820px;
	border:  1px solid #00000;
	width: 15%;
	height:  auto;
	z-index: 1;

}



.episode2 {
	
	position:  absolute;
	top: 50px;
	left: 90px;
	border:  1px solid #00000;
	width: 25%;
	height:  auto;

}



.floorscrapper{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	height: auto;

}

.monet {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

















