body{
	background: black;
	font-family: Courier;
	color: white;
	text-align: center;

}

/* pretty color!!! - rgb(177, 185, 157) */

a:visited {
	text-decoration: none;
	color: inherit;
}

a:link {
	text-decoration: none;
}

body#site{
	color: black;
}

#header{
    color: green;
}

.navbar{
	list-style: none;
	display: flex;
	justify-content:space-between;
	padding: 10px;
    color: green;

}

.us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.araceli {
    background-color: white;
}

.Ainside{
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.keiani {
    background-color: white;
}

.Kinside {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}